body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.container{

	width: 100%;
	height: 100vh;
	background-color: black;
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(Images/886685.jpg) ;
	background-position: center;
	background-size: cover;
	padding-right: 8%; 
	padding-left: 8%;
	box-sizing: border-box;
}
.bar{
	height: 12%;
	display: flex;
	align-items: :center;
}
.CM{
	width: 170px;
	height: 70px;
	cursor: pointer;
}
nav{
	flex: 1;
	text-align: right;
	margin-left: 30px;
	display: inline-block;
}
ul{
	margin-left: 60px;
	display: inline-block;
}
li{
    margin-left: 60px;
	display: inline-block;
}
li a{
	text-decoration: none;
	color: white;
	font-size:  20px;
}


.container {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
.border{
	margin-top: 50px;
}
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11, .bgimg-12, .bgimg-13, .bgimg-14, .bgimg-15, .bgimg-16, .bgimg-17, .bgimg-18, .bgimg-19, .bgimg-20{
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("f21b5ba9a9ae0301629051771005397e.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("Character_Swordsman.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("Character_Archer (2).jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("Character_Magician (2).jpg");
  min-height: 400px;
}

.bgimg-5 {
  background-image: url("Character_Merchant (2).jpg");
  min-height: 400px;
}

.bgimg-6 {
  background-image: url("Character_Thief (2).jpg");
  min-height: 400px;
}

.bgimg-7 {
  background-image: url("Character_Acolyte (2).jpg");
  min-height: 400px;
}

.bgimg-8 {
  background-image: url("Character_Knight (2).jpg");
  min-height: 400px;
}
.bgimg-9 {
  background-image: url("Character_wizard (2).jpg");
  min-height: 400px;
}

.bgimg-10 {
  background-image: url("Character_hunter (2).jpg");
  min-height: 400px;
}

.bgimg-11 {
  background-image: url("Character_Blacksmith (2).jpg");
  min-height: 400px;
}

.bgimg-12 {
  background-image: url("Character_Assassin (2).jpg");
  min-height: 400px;
}

.bgimg-13 {
  background-image: url("Character_Priest (2).jpg");
  min-height: 400px;
}

.bgimg-14 {
  background-image: url("Character_crusader (2).jpg");
  min-height: 400px;
}

.bgimg-15 {
  background-image: url("Character_Sage (2) - Copy.jpg");
  min-height: 400px;
}

.bgimg-16 {
  background-image: url("Character_barddancer (2).jpg");
  min-height: 400px;
}

.bgimg-17 {
  background-image: url("Character_Alchemist.jpg");
  min-height: 400px;
}

.bgimg-18 {
  background-image: url("Character_rogue (2).jpg");
  min-height: 400px;
}

.bgimg-19 {
  background-image: url("Character_monk (2).jpg");
  min-height: 400px;
}

.bgimg-20 {
  background-image: url("f21b5ba9a9ae0301629051771005397e.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 45%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7, .bgimg-8, .bgimg-9, .bgimg-10, .bgimg-11, .bgimg-12, .bgimg-13, .bgimg-14, .bgimg-15, .bgimg-16, .bgimg-17, .bgimg-18, .bgimg-19, .bgimg-20{
        background-attachment: scroll;
    }
}